- let phoneNumber = '1 (800) 862 6772'
-
  let nav = [
    {
      link: '#',
      text: 'Watches'
    },{
      link: '#',
      text: 'Services'
    },{
      link: '#',
      text: 'FAQs'
    },{
      link: '#',
      text: 'Contact'
    },{
      link: '#',
      text: 'Request Virtual'
    }
  ]
- let logo = 'ALW Logo'
- let logoText = 'American Logo Watch'
header.header
  .section__container
    .nav-bar
      a.logo(href='/index.html')= logo
        span.logo__text= logoText
      .nav__wrapper
        nav.nav
          ul.menu__list
            each item in nav
              li.menu__item
                a(href=`${item.link}`).menu__link= item.text
        a(href=`tel:${phoneNumber}`).nav__phone= phoneNumber
      .menu-btn__wrapper
        a(href='#').menu-btn
          span.menu-btn__line
