-
  let partners = [
    {
      image: 'partner-one',
      name: 'Rado'
    },{
      image: 'partner-two',
      name: 'Swatch'
    },{
      image: 'partner-three',
      name: 'Omega'
    },{
      image: 'partner-four',
      name: 'Zenit'
    }
  ]
section.partners
  .section__container
    .partners__content
      ul.partners__list
        each item in partners
          li.partners__item
            img(src=`/templates/images/${item.image}.png` alt=`${item.name} Logo`).partners__image