.popup.popup--search
  .popup__content
    a.popup__close(href='#')
      i.fas.fa-times
    p.popup__header Search
    form.popup__form(action="")
      input.popup__input(type='text' placeholder='Search...')
      button(type='submite').popup__button Search