-
  let services = [
    {
      title: 'Our Store',
      text: 'As many of you know, our company has a wide field of activity: we are engaged in the development of products, publish design and code related articles, and support the Market, where designers publish their products to sell. FS Industrie is created for digital designs where flexibility is essential. Designed by Phil Garnham and Fernando Mello, the font combines aesthetics with functional utility, delivering a precise and direct feel. '
    },{
      title: 'Store Two',
      text: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat aspernatur accusantium quae reiciendis deleniti inventore voluptatem quasi voluptates quas dolorum?'
    },{
      title: 'One more Store',
      text: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti exercitationem cum molestias saepe eos culpa, vitae numquam ipsam ducimus soluta sapiente deserunt cupiditate reprehenderit perspiciatis ad non modi corporis magnam!'
    }
  ]
section.service
  .section__container
    .service__content
      ul.service__carousel.owl-carousel.owl-theme.service__list
        each item in services
          li.service__item
            h4.service__title= item.title
            p.service__text= item.text