- let barText = 'Custom Logo Watches & More, Free Shipping & Returns'
.top-bar
  .section__container
    .top-bar__content
      p.top-bar__text= barText
      ul.top-bar__list
        li.top-bar__item
          a.top-bar__link(href='#').search__link
            img(src='templates/images/search-icon.png' alt='search').top-bar__icon
        li.top-bar__item
          a.top-bar__link(href='#')
            img(src='templates/images/basket-icon.png' alt='basket').top-bar__icon
            span.basket__counter 3
        li.top-bar__item
          a.top-bar__link(href='#').login__link
            img(src='templates/images/user-icon.png' alt='account').top-bar__icon