.popup{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.8);
  z-index: 20;
  &__content{
    min-width: 280px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: $bg-footer;
    border: 2px solid $accent-brown;
    border-radius: 5px;
    padding: 1.9rem 0.9rem 0.9rem;
    color: $accent-brown;
  }
  &__close{
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: $accent-brown;
  }
  &__header{
    text-align: center;
    font-family: 'BebasNeue';
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 2rem;
  }
  &__button{
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    border: 2px solid $accent-brown;
    color: $accent-brown;
    background: transparent;
    font-family: 'BebasNeue';
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
  }
  &__label{
    font-style: italic;
    color: $text-footer;
  }
  &__input{
    background: transparent;
    border: 1px solid $accent-brown;
    box-sizing: border-box;
    height: 35px;
    width: 100%;
    padding: 0 20px;
    color: $accent-brown;
    &::placeholder{
      color: $accent-brown;
    }
  }
  .form__field{
    &:not(:last-child){
      margin-bottom: 1rem;
    }
  }
}