// @font-face{
//   font-family: 'Product Sans';
//   src: url('../fonts/Product-Sans-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face{
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}