// Bacground colors
$bg-footer: #0e0e0e;

// Text colors
$review-text: #767676;

$text-footer: #818181;
$text-site-map: #5e5d5d;

$footer-placholder: #494949;
$footer-btn: #705142;

$footer-icons: #333333;

// Border colors
$border-footer: #2b2b2b;

// Other colors
$accent-brown: #b6907e;

$slider-dot: #5b483f;
$slider-dot-active: #b6907e;